*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
}
label, input{
    display: block;

}
label{
    margin-top: 10px;
}
input{
    width: 100%;
}
form{
    min-width: 500px;
    max-width: 700px;
    margin: 0 auto;
    border: 2px solid black;
    padding: 15px;
}
select{
    
}